/* Mapbox */
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    z-index: -2;
}

/* tokyo23wards show and hide css */
#hideshow_01 {
    background: #fff;
    position: absolute;
    z-index: -1;
    top: 55px;
    left: 90vw;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
  }
  
  #hideshow_01 a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  #hideshow_01 a:last-child {
    border: none;
  }
  
  #hideshow_01 a:hover {
    background-color: #f8f8f8;
    color: #404040;
  }
  
  #hideshow_01 a.active {
    background-color: #3887be;
    color: #ffffff;
  }
  
  #hideshow_01 a.active:hover {
    background: #3074a4;
  }
    