@charset "utf-8";

/* ===== index.html =====*/

/* ===== nav header =====*/
#open_nav {
  position: absolute;
  z-index: 1;
  width: 392px;
  height: 50px;
  left: 0;
  background-color: rgba(1, 1, 1, 0.8);
  display: flex; /* divの上下左右中央揃えのため */
  justify-content: left; /* 左揃え */
  align-items: center; /* 上下中央揃え */
}

#open_nav div {
  padding-left: 20px;
}

#open_nav div img:hover{
  cursor: pointer;
}

/* ===== sidebar =====*/
#sidebar {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0px;
  background: rgba(1, 1, 1, 0.8);
  border-radius: 3px;
  width: 392px;
  height: 90vh;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.5s;
}

.hide {
  transform: translate3d(-500px, 0, 0);
}

/* ===== fly to menu =====*/
#fly {
  border: none;
  font-size: 14px;
  color: #fff;
  z-index: 1;
}

#fly select {
  width: 300px;
  height: 50px;
  font-size: large;
  margin-bottom: 20px;
  padding: 10px;
}

/* list of indicators show and hide css */
#hideshow {
  background: #fff;
  z-index: 1;
  top: 55px;
  right: 10px;
  border-radius: 3px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#hideshow a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#hideshow a:last-child {
  border: none;
}

#hideshow a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#hideshow a.active {
  background-color: #3887be;
  color: #ffffff;
}

#hideshow a.active:hover {
  background: #3074a4;
}
  
